* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

[wm-flappy] { /* estilo para tudo que possua essa propriedade; representa a área do jogo */
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px; /* talvez mudar para 500px */
    width: 1200px;
    margin: 15px; /* para aumentar o espaço entre a borda e o título */
    background-color: deepskyblue; /* fundo com a cor mais clara que a borda */
    overflow: hidden; /* tudo que estiver fora da 'div' será escondido (as barreiras) */
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px); /* posiciona no meio, já que a largura do pássaro tem 60px */
    /* bottom: 50%; fica centralizado também no eixo vertical; será definido em pixels na Passaro() */
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%; /* 100% do tamanho original da barreira */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* items distribuídos igualmente (espaço no meio) */
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border: 2px solid black;
}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border-left: 2px solid black;
    border-right: 2px solid black; /* o corpo terá borda apenas dos lados */
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100; /* specifies the stack order (in front position) of an element */
}